{
  "openapi": "3.1.0",
  "info": {
    "description": "Coinbase Retail Advanced Trade API for derivatives trading.",
    "title": "Coinbase Retail Advanced Trade (Deribit) API",
    "version": "2.1.1"
  },
  "servers": [
    {
      "url": "https://drb.coinbase.com/api/v2"
    }
  ],
  "paths": {
    "/private/buy": {
      "get": {
        "description": "Places a buy order for an instrument. Supports various order types including limit, market, stop, and advanced order types (stop-limit, take-profit, take-profit-limit, trailing-stop, etc.).\n\nYou can specify order parameters such as price, quantity, time-in-force, post-only, reduce-only, and trigger conditions. Orders can be labeled for easier management and tracking.\n\n**Note:** For spot orders routed to Coinbase Exchange, fills come back asynchronously. It is recommended to receive fills from the `user.trades` channel.\n\n**📖 Related Article:** [Order Management Best Practices](https://docs.deribit.com/articles/order-management-best-practices)\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fbuy)\n\n",
        "parameters": [
          {
            "name": "instrument_name",
            "in": "query",
            "description": "Instrument name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/instrument_name"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "It represents the requested order size. For perpetual and inverse futures the amount is in USD units. For options and linear futures it is the underlying base currency coin. The `amount` is a mandatory parameter if `contracts` parameter is missing. If both `contracts` and `amount` parameter are passed they must match each other otherwise error is returned.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "contracts",
            "in": "query",
            "description": "It represents the requested order size in contract units and can be passed instead of `amount`. The `contracts` is a mandatory parameter if `amount` parameter is missing. If both `contracts` and `amount` parameter are passed they must match each other otherwise error is returned.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The order type, default: `\"limit\"`\n\n`stop_limit`, `stop_market`, `take_limit`, `take_market`, and `trailing_stop` (trigger/algo order types) are not supported for `option` and `option_combo` instruments.\n\nFor spot trading routed to Coinbase Exchange, only `\"market\"`, `\"limit\"` and `\"stop_limit\"` orders are supported. Other order types will be rejected.\n",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "limit",
                "stop_limit",
                "take_limit",
                "market",
                "stop_market",
                "take_market",
                "market_limit",
                "trailing_stop"
              ]
            }
          },
          {
            "name": "label",
            "in": "query",
            "description": "user defined label for the order (maximum 64 characters)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "<p>The order price in base currency (Only for limit and stop_limit orders)</p> <p>When adding an order with advanced=usd, the field price should be the option price value in USD.</p> <p>When adding an order with advanced=implv, the field price should be a value of implied volatility in percentages. For example,  price=100, means implied volatility of 100%</p>",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "time_in_force",
            "in": "query",
            "description": "<p>Specifies how long the order remains in effect. Default `\"good_til_cancelled\"`</p> <ul> <li>`\"good_til_cancelled\"` - unfilled order remains in order book until cancelled</li> <li>`\"good_til_day\"` - unfilled order remains in order book till the end of the trading session</li> <li>`\"fill_or_kill\"` - execute a transaction immediately and completely or not at all</li> <li>`\"immediate_or_cancel\"` - execute a transaction immediately, and any portion of the order that cannot be immediately filled is cancelled</li> </ul> <p>For spot trading, only `\"good_til_cancelled\"`, `\"immediate_or_cancel\"` and `\"fill_or_kill\"` are supported. `\"good_til_day\"` is not supported and will be rejected.</p>",
            "required": false,
            "schema": {
              "type": "string",
              "default": "good_til_cancelled",
              "enum": [
                "good_til_cancelled",
                "good_til_day",
                "fill_or_kill",
                "immediate_or_cancel"
              ]
            }
          },
          {
            "name": "display_amount",
            "in": "query",
            "description": "Initial display amount for iceberg order. Has to be at least 100 times minimum amount for instrument and ratio of hidden part vs visible part has to be less than 100 as well.",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "post_only",
            "in": "query",
            "description": "<p>If true, the order is considered post-only. If the new price would cause the order to be filled immediately (as taker), the price will be changed to be just below the spread.</p> <p>Only valid in combination with time_in_force=`\"good_til_cancelled\"`</p> <p>For spot trading routed to Coinbase Exchange, the price is never adjusted: `\"post_only\"` must be combined with `\"reject_post_only\"` set to true, and the order is rejected if it would be matched instantly.</p>",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "reject_post_only",
            "in": "query",
            "description": "<p>If an order is considered post-only and this field is set to true then the order is put to the order book unmodified or the request is rejected.</p> <p>Only valid in combination with `\"post_only\"` set to true</p> <p>For spot trading routed to Coinbase Exchange, this must be set to true whenever `\"post_only\"` is true; otherwise the request is rejected with `post_only_not_allowed`.</p>",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "reduce_only",
            "in": "query",
            "description": "If `true`, the order is considered reduce-only which is intended to only reduce a current position",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "trigger_price",
            "in": "query",
            "description": "Trigger price, required for trigger orders only (Stop-loss or Take-profit orders)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "trigger_offset",
            "in": "query",
            "description": "The maximum deviation from the price peak beyond which the order will be triggered",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "trigger",
            "in": "query",
            "description": "<p>Defines the trigger type. Required for `\"Stop-Loss\"`, `\"Take-Profit\"` and `\"Trailing\"` trigger orders</p> <p>For stop-limit orders routed to Coinbase Exchange, only `\"last_price\"` is allowed.</p>",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/trigger"
            }
          },
          {
            "name": "advanced",
            "in": "query",
            "description": "Advanced option order type. (Only for options. Advanced USD orders are not supported for linear options.)",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/advanced"
            }
          },
          {
            "name": "mmp",
            "in": "query",
            "description": "Order MMP flag, only for order_type 'limit'",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "valid_until",
            "in": "query",
            "description": "Timestamp, when provided server will start processing request in Matching Engine only before given timestamp, in other cases `timed_out` error will be responded. Remember that the given timestamp should be consistent with the server's time, use <a href='#public-get_time'>/public/time</a> method to obtain current server time.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "linked_order_type",
            "in": "query",
            "description": "<p>The type of the linked order.</p> <ul> <li>`\"one_triggers_other\"` - Execution of primary order triggers the placement of one or more secondary orders.</li> <li>`\"one_cancels_other\"` -  The execution of one order in a pair automatically cancels the other, typically used to set a stop-loss and take-profit simultaneously.</li> <li>`\"one_triggers_one_cancels_other\"` - The execution of a primary order triggers two secondary orders (a stop-loss and take-profit pair), where the execution of one secondary order cancels the other.</li> </ul>",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "one_triggers_other",
                "one_cancels_other",
                "one_triggers_one_cancels_other"
              ]
            }
          },
          {
            "name": "trigger_fill_condition",
            "in": "query",
            "description": "<p>The fill condition of the linked order (Only for linked order types), default: `first_hit`.</p> <ul> <li>`\"first_hit\"` - any execution of the primary order will fully cancel/place all secondary orders.</li> <li>`\"complete_fill\"` - a complete execution (meaning the primary order no longer exists) will cancel/place the secondary orders.</li> <li>`\"incremental\"` - any fill of the primary order will cause proportional partial cancellation/placement of the secondary order. The amount that will be subtracted/added to the secondary order will be rounded down to the contract size.</li> </ul>",
            "required": false,
            "schema": {
              "type": "string",
              "default": "first_hit",
              "enum": [
                "first_hit",
                "complete_fill",
                "incremental"
              ]
            }
          },
          {
            "name": "otoco_config",
            "in": "query",
            "description": "List of secondary orders to place or cancel when the primary order is filled. Each entry in the array defines one secondary order. `amount` and `direction` are required; all other fields are optional.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "properties": {
                  "amount": {
                    "description": "**Required.** The secondary order size. For perpetual and inverse futures the amount is in USD units. For options and linear futures it is the underlying base currency coin.",
                    "type": "number"
                  },
                  "direction": {
                    "description": "**Required.** Direction of the secondary order.",
                    "type": "string",
                    "enum": [
                      "buy",
                      "sell"
                    ]
                  },
                  "label": {
                    "description": "User defined label for the order (maximum 64 characters).",
                    "type": "string"
                  },
                  "post_only": {
                    "description": "If true, the order is considered post-only. If the new price would cause the order to be filled immediately (as taker), the price will be changed to be just below or above the spread (according to the direction of the order).",
                    "type": "boolean",
                    "default": false
                  },
                  "price": {
                    "description": "The order price in base currency. Required for limit and stop_limit orders.",
                    "type": "number"
                  },
                  "reduce_only": {
                    "description": "If true, the order is considered reduce-only which is intended to only reduce a current position.",
                    "type": "boolean",
                    "default": false
                  },
                  "reject_post_only": {
                    "description": "If an order is considered post-only and this field is set to true then the order is put to the order book unmodified or the request is rejected.",
                    "type": "boolean",
                    "default": false
                  },
                  "time_in_force": {
                    "description": "Specifies how long the order remains in effect. Default `\"good_til_cancelled\"`.",
                    "type": "string",
                    "default": "good_til_cancelled",
                    "enum": [
                      "good_til_cancelled",
                      "good_til_day",
                      "fill_or_kill",
                      "immediate_or_cancel"
                    ]
                  },
                  "trigger": {
                    "description": "Defines the trigger type. Required for stop-loss, take-profit, and trailing stop orders.",
                    "type": "string",
                    "enum": [
                      "index_price",
                      "mark_price",
                      "last_price"
                    ]
                  },
                  "trigger_offset": {
                    "description": "The maximum deviation from the price peak beyond which the order will be triggered. Used for trailing stop orders.",
                    "type": "number"
                  },
                  "trigger_price": {
                    "description": "Trigger price. Required for trigger orders (stop-loss or take-profit orders).",
                    "type": "number"
                  },
                  "type": {
                    "description": "The order type, default: `\"limit\"`",
                    "type": "string",
                    "enum": [
                      "limit",
                      "stop_limit",
                      "take_limit",
                      "market",
                      "stop_market",
                      "take_market",
                      "market_limit",
                      "trailing_stop"
                    ]
                  }
                },
                "type": "object"
              }
            },
            "explode": true,
            "style": "form"
          },
          {
            "name": "isolated",
            "in": "query",
            "description": "If true, places the order under isolated margin mode. A managed subaccount is claimed or provisioned and bound to the instrument. Available to main accounts for futures orders only; not supported for algo, advanced, or linked orders. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "allocated_margin",
            "in": "query",
            "description": "Optional initial margin amount transferred from the main account to the isolated subaccount for this order. Only applicable when `isolated = true`. On risk-increasing orders, must meet the required minimum margin or placement fails with error `14033` (`isolated_allocated_too_low`).",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 5275,
                    "jsonrpc": "2.0",
                    "method": "private/buy",
                    "params": {
                      "amount": 40,
                      "instrument_name": "ETH-PERPETUAL",
                      "label": "market0000234",
                      "type": "market"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateBuyAndSellResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-buy",
          "metadata": {
            "keywords": [
              "private/buy",
              "instrument_name",
              "amount",
              "contracts",
              "type",
              "label",
              "price",
              "time_in_force",
              "display_amount",
              "post_only",
              "reject_post_only",
              "reduce_only",
              "trigger_price",
              "trigger_offset",
              "trigger",
              "advanced",
              "mmp",
              "valid_until",
              "linked_order_type",
              "trigger_fill_condition",
              "otoco_config",
              "order",
              "trades",
              "order_id",
              "order_state",
              "order_type",
              "original_order_type",
              "is_rebalance",
              "is_liquidation",
              "creation_timestamp",
              "last_update_timestamp",
              "starbase_last_update_timestamp",
              "starbase_client_order_id",
              "direction",
              "api",
              "web",
              "mobile",
              "refresh_amount",
              "filled_amount",
              "average_price",
              "implv",
              "usd",
              "triggered",
              "trigger_reference_price",
              "block_trade",
              "risk_reducing",
              "replaced",
              "auto_replaced",
              "quote",
              "mmp_group",
              "quote_set_id",
              "quote_id",
              "trigger_order_id",
              "combo_order_id",
              "starbase_order_id",
              "app_name",
              "mmp_cancelled",
              "cancel_reason",
              "oto_order_ids",
              "oco_ref",
              "primary_order_id",
              "is_secondary_oto",
              "is_primary_otoco",
              "trade_id",
              "trade_seq",
              "timestamp",
              "starbase_timestamp",
              "matching_id",
              "tick_direction",
              "index_price",
              "iv",
              "underlying_price",
              "liquidation",
              "liquidity",
              "fee",
              "fee_currency",
              "state",
              "block_trade_id",
              "block_trade_leg_count",
              "block_rfq_id",
              "block_rfq_quote_id",
              "profit_loss",
              "mark_price",
              "legs",
              "combo_id",
              "combo_trade_id",
              "starbase_match_id",
              "trade_allocations",
              "user_id",
              "client_info",
              "client_id",
              "client_link_id",
              "name"
            ],
            "og:title": "private/buy",
            "title": "private/buy"
          }
        }
      }
    },
    "/private/cancel": {
      "get": {
        "description": "Cancels a specific order identified by its order ID. The order must be open (not yet filled or cancelled) to be cancelled successfully.\n\nOnce cancelled, the order is removed from the order book and cannot be restored. Any unfilled portion of the order will be cancelled.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fcancel)\n\n",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "description": "The order id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/order_id"
            }
          },
          {
            "name": "isolated",
            "in": "query",
            "description": "If true, routes the order cancellation to the isolated margin subaccount that owns the order. Omitting this flag searches only the main account and returns `order_not_found` or `not_owner_of_order` for isolated orders. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 4214,
                    "jsonrpc": "2.0",
                    "method": "private/cancel",
                    "params": {
                      "order_id": "ETH-SLIS-12"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateCancelResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-cancel",
          "metadata": {
            "keywords": [
              "private/cancel",
              "order_id",
              "order_state",
              "order_type",
              "original_order_type",
              "time_in_force",
              "is_rebalance",
              "is_liquidation",
              "instrument_name",
              "creation_timestamp",
              "last_update_timestamp",
              "starbase_last_update_timestamp",
              "starbase_client_order_id",
              "direction",
              "price",
              "label",
              "post_only",
              "reject_post_only",
              "reduce_only",
              "api",
              "web",
              "mobile",
              "refresh_amount",
              "display_amount",
              "amount",
              "contracts",
              "filled_amount",
              "average_price",
              "advanced",
              "implv",
              "usd",
              "triggered",
              "trigger",
              "trigger_price",
              "trigger_offset",
              "trigger_reference_price",
              "block_trade",
              "mmp",
              "risk_reducing",
              "replaced",
              "auto_replaced",
              "quote",
              "mmp_group",
              "quote_set_id",
              "quote_id",
              "trigger_order_id",
              "combo_order_id",
              "starbase_order_id",
              "app_name",
              "mmp_cancelled",
              "cancel_reason",
              "oto_order_ids",
              "trigger_fill_condition",
              "oco_ref",
              "primary_order_id",
              "is_secondary_oto",
              "is_primary_otoco"
            ],
            "og:title": "private/cancel",
            "title": "private/cancel"
          }
        }
      }
    },
    "/private/cancel_all": {
      "get": {
        "description": "Cancels all open orders and trigger orders for the authenticated account across all currencies and instrument kinds. This is a bulk cancellation operation useful for quickly clearing all active orders.\n\nUse the `detailed` parameter to receive a list of all cancelled orders. The `freeze_quotes` parameter can be used to freeze quotes instead of cancelling them.\n\n**Note:** This operation cannot be undone. All open orders will be permanently cancelled.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fcancel_all)\n\n",
        "parameters": [
          {
            "name": "detailed",
            "in": "query",
            "description": "When `detailed` is set to `true`, the output format is changed to include a list of all cancelled orders.\n\n**📖 Related Article:** [Detailed Response for Cancel Methods](https://docs.deribit.com/articles/json-rpc-overview#detailed-response-for-cancel-methods)\n\nDefault: `false`\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "freeze_quotes",
            "in": "query",
            "description": "Whether or not to reject incoming quotes for 1 second after cancelling (`false` by default). Related to `private/mass_quote` request.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_isolated",
            "in": "query",
            "description": "If true, extends mass cancellation to include open orders across active isolated-margin subaccounts. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 8748,
                    "jsonrpc": "2.0",
                    "method": "private/cancel_all",
                    "params": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateCancelAllResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-cancel_all",
          "metadata": {
            "keywords": [
              "private/cancel_all",
              "detailed",
              "freeze_quotes"
            ],
            "og:title": "private/cancel_all",
            "title": "private/cancel_all"
          }
        }
      }
    },
    "/private/cancel_all_by_currency": {
      "get": {
        "description": "Cancels all open orders for a specific currency. This is useful for quickly clearing all orders across multiple instruments in a currency.\n\nOrders can be optionally filtered by instrument kind (future, option, etc.) and/or order type (limit, market, stop, etc.). Use the `detailed` parameter to receive a list of all cancelled orders.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fcancel_all_by_currency)\n\n",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "The currency symbol",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/currency"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Instrument kind, `\"combo\"` for any combo or `\"any\"` for all. If not provided instruments of all kinds are considered",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/kind_with_combo_all"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Order type - `limit`, `stop`, `take`, `trigger_all` or `all`, default - `all`",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/simple_order_type"
            }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "When `detailed` is set to `true`, the output format is changed to include a list of all cancelled orders.\n\n**📖 Related Article:** [Detailed Response for Cancel Methods](https://docs.deribit.com/articles/json-rpc-overview#detailed-response-for-cancel-methods)\n\nDefault: `false`\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "freeze_quotes",
            "in": "query",
            "description": "Whether or not to reject incoming quotes for 1 second after cancelling (`false` by default). Related to `private/mass_quote` request.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_isolated",
            "in": "query",
            "description": "If true, extends currency mass cancellation to include open orders across active isolated-margin subaccounts. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 5663,
                    "jsonrpc": "2.0",
                    "method": "private/cancel_all_by_currency",
                    "params": {
                      "currency": "BTC",
                      "kind": "option"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateCancelAllResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-cancel_all_by_currency",
          "metadata": {
            "keywords": [
              "private/cancel_all_by_currency",
              "currency",
              "kind",
              "type",
              "detailed",
              "freeze_quotes"
            ],
            "og:title": "private/cancel_all_by_currency",
            "title": "private/cancel_all_by_currency"
          }
        }
      }
    },
    "/private/cancel_all_by_currency_pair": {
      "get": {
        "description": "Cancels all open orders for a specific currency pair. This is useful for quickly clearing all orders across instruments in a currency pair.\n\nOrders can be optionally filtered by instrument kind (future, option, etc.) and/or order type (limit, market, stop, etc.). Use the `detailed` parameter to receive a list of all cancelled orders.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fcancel_all_by_currency_pair)\n\n",
        "parameters": [
          {
            "name": "currency_pair",
            "in": "query",
            "description": "The currency pair symbol",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/index_name"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Instrument kind, `\"combo\"` for any combo or `\"any\"` for all. If not provided instruments of all kinds are considered",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/kind_with_combo_all"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Order type - `limit`, `stop`, `take`, `trigger_all` or `all`, default - `all`",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/simple_order_type"
            }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "When `detailed` is set to `true`, the output format is changed to include a list of all cancelled orders.\n\n**📖 Related Article:** [Detailed Response for Cancel Methods](https://docs.deribit.com/articles/json-rpc-overview#detailed-response-for-cancel-methods)\n\nDefault: `false`\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "freeze_quotes",
            "in": "query",
            "description": "Whether or not to reject incoming quotes for 1 second after cancelling (`false` by default). Related to `private/mass_quote` request.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 5663,
                    "jsonrpc": "2.0",
                    "method": "private/cancel_all_by_currency_pair",
                    "params": {
                      "currency_pair": "BTC_USD",
                      "kind": "option"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateCancelAllResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-cancel_all_by_currency_pair",
          "metadata": {
            "keywords": [
              "private/cancel_all_by_currency_pair",
              "currency_pair",
              "kind",
              "type",
              "detailed",
              "freeze_quotes"
            ],
            "og:title": "private/cancel_all_by_currency_pair",
            "title": "private/cancel_all_by_currency_pair"
          }
        }
      }
    },
    "/private/cancel_all_by_instrument": {
      "get": {
        "description": "Cancels all open orders for a specific instrument. This is useful for quickly clearing all orders for a single instrument.\n\nOrders can be optionally filtered by order type (limit, market, stop, etc.). Use the `detailed` parameter to receive a list of all cancelled orders. The `include_combos` parameter can be used to include combo orders in the cancellation.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fcancel_all_by_instrument)\n\n",
        "parameters": [
          {
            "name": "instrument_name",
            "in": "query",
            "description": "Instrument name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/instrument_name"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Order type - `limit`, `stop`, `take`, `trigger_all` or `all`, default - `all`",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/simple_order_type"
            }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "When `detailed` is set to `true`, the output format is changed to include a list of all cancelled orders.\n\n**📖 Related Article:** [Detailed Response for Cancel Methods](https://docs.deribit.com/articles/json-rpc-overview#detailed-response-for-cancel-methods)\n\nDefault: `false`\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_combos",
            "in": "query",
            "description": "When set to `true` orders in combo instruments affecting a given position will also be cancelled. Default: `false`",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "freeze_quotes",
            "in": "query",
            "description": "Whether or not to reject incoming quotes for 1 second after cancelling (`false` by default). Related to `private/mass_quote` request.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_isolated",
            "in": "query",
            "description": "If true, extends instrument mass cancellation to include open orders across active isolated-margin subaccounts. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 4122,
                    "jsonrpc": "2.0",
                    "method": "private/cancel_all_by_instrument",
                    "params": {
                      "instrument_name": "ETH-22FEB19-120-P",
                      "type": "all"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateCancelAllResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-cancel_all_by_instrument",
          "metadata": {
            "keywords": [
              "private/cancel_all_by_instrument",
              "instrument_name",
              "type",
              "detailed",
              "include_combos",
              "freeze_quotes"
            ],
            "og:title": "private/cancel_all_by_instrument",
            "title": "private/cancel_all_by_instrument"
          }
        }
      }
    },
    "/private/cancel_all_by_kind_or_type": {
      "get": {
        "description": "Cancels all open orders in one or more currencies, optionally filtered by instrument kind and/or order type. This provides flexible bulk cancellation across multiple currencies.\n\nSpecify one or more currencies, and optionally filter by instrument kind (future, option, etc.) and/or order type (limit, market, stop, etc.). Use the `detailed` parameter to receive a list of all cancelled orders.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fcancel_all_by_kind_or_type)\n\n",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "The currency symbol, list of currency symbols or `\"any\"` for all",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/currency_with_any_and_list"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "Instrument kind, `\"combo\"` for any combo or `\"any\"` for all. If not provided instruments of all kinds are considered",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/kind_with_combo_all"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Order type - `limit`, `stop`, `take`, `trigger_all` or `all`, default - `all`",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/simple_order_type"
            }
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "When `detailed` is set to `true`, the output format is changed to include a list of all cancelled orders.\n\n**📖 Related Article:** [Detailed Response for Cancel Methods](https://docs.deribit.com/articles/json-rpc-overview#detailed-response-for-cancel-methods)\n\nDefault: `false`\n",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "freeze_quotes",
            "in": "query",
            "description": "Whether or not to reject incoming quotes for 1 second after cancelling (`false` by default). Related to `private/mass_quote` request.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 2,
                    "jsonrpc": "2.0",
                    "method": "private/cancel_all_by_kind_or_type",
                    "params": {
                      "currency": [
                        "BTC",
                        "ETH"
                      ],
                      "kind": "future"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateCancelAllResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-cancel_all_by_kind_or_type",
          "metadata": {
            "keywords": [
              "private/cancel_all_by_kind_or_type",
              "currency",
              "kind",
              "type",
              "detailed",
              "freeze_quotes"
            ],
            "og:title": "private/cancel_all_by_kind_or_type",
            "title": "private/cancel_all_by_kind_or_type"
          }
        }
      }
    },
    "/private/cancel_by_label": {
      "get": {
        "description": "Cancels all orders (including trigger orders) that have a specific label. This is useful for managing groups of related orders that share the same label.\n\nOrders can be cancelled across all currencies or filtered to a specific currency. When cancelling by currency, the currency queue is used for processing.\n\n**Rate Limits:** When called without the `currency` parameter, this method is subject to `cancel_all` rate limits. Different rate limit values may apply for per-currency cancels versus calls without providing the currency parameter.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fcancel_by_label)\n\n",
        "parameters": [
          {
            "name": "label",
            "in": "query",
            "description": "user defined label for the order (maximum 64 characters)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency symbol",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/currency"
            }
          },
          {
            "name": "include_isolated",
            "in": "query",
            "description": "If true, extends label cancellation to include matching open orders across active isolated-margin subaccounts. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 47,
                    "jsonrpc": "2.0",
                    "method": "private/cancel_by_label",
                    "params": {
                      "label": "label"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateCancelAllResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-cancel_by_label",
          "metadata": {
            "keywords": [
              "private/cancel_by_label",
              "label",
              "currency"
            ],
            "og:title": "private/cancel_by_label",
            "title": "private/cancel_by_label"
          }
        }
      }
    },
    "/private/change_margin_model": {
      "get": {
        "description": "Changes the margin model for the authenticated account or a specified subaccount. Margin models determine how margin requirements are calculated (e.g., Standard Margin vs. Portfolio Margin).\n\nChanging the margin model may affect margin requirements, available funds, and trading capabilities. Use the `dry_run` parameter to preview the impact of the change before applying it.\n\n**📖 Related Article:** [Margin types and usage](https://support.deribit.com/hc/en-us/articles/25944811317149-Margin-types-and-usage)\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fchange_margin_model)\n\n",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "Id of a (sub)account - by default current user id is used",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "margin_model",
            "in": "query",
            "description": "Margin model",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cross_pm",
                "cross_sm",
                "segregated_pm",
                "segregated_sm"
              ]
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "description": "If `true` request returns the result without switching the margining model. Default: `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 1,
                    "jsonrpc": "2.0",
                    "method": "private/change_margin_model",
                    "params": {
                      "margin_model": "cross_pm",
                      "user_id": 3
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateChangeMarginModelResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:user:update"
            ]
          }
        ],
        "tags": [
          "Account Management",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/account-management/private-change_margin_model",
          "metadata": {
            "keywords": [
              "private/change_margin_model",
              "user_id",
              "margin_model",
              "dry_run",
              "old_state",
              "new_state",
              "currency",
              "maintenance_margin_rate",
              "initial_margin_rate",
              "available_balance"
            ],
            "og:title": "private/change_margin_model",
            "title": "private/change_margin_model"
          }
        }
      }
    },
    "/private/close_position": {
      "get": {
        "description": "Places a reduce-only order to close an existing position. Reduce-only orders can only reduce or close a position; they cannot open a new position or increase an existing one.\n\nYou can specify whether to use a market or limit order. If using a limit order, provide the price. The order will automatically be set to reduce-only to ensure it only closes the position.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fclose_position)\n\n",
        "parameters": [
          {
            "name": "instrument_name",
            "in": "query",
            "description": "Instrument name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/instrument_name"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The order type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "limit",
                "market"
              ]
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "Optional price for limit order.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "isolated",
            "in": "query",
            "description": "If true, resolves the isolated subaccount bound to the instrument and submits an opposite-side reduce-only order for the full position size. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 6130,
                    "jsonrpc": "2.0",
                    "method": "private/close_position",
                    "params": {
                      "instrument_name": "ETH-PERPETUAL",
                      "price": 145.17,
                      "type": "limit"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateBuyAndSellResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-close_position",
          "metadata": {
            "keywords": [
              "private/close_position",
              "instrument_name",
              "type",
              "price",
              "order",
              "trades",
              "order_id",
              "order_state",
              "order_type",
              "original_order_type",
              "time_in_force",
              "is_rebalance",
              "is_liquidation",
              "creation_timestamp",
              "last_update_timestamp",
              "starbase_last_update_timestamp",
              "starbase_client_order_id",
              "direction",
              "label",
              "post_only",
              "reject_post_only",
              "reduce_only",
              "api",
              "web",
              "mobile",
              "refresh_amount",
              "display_amount",
              "amount",
              "contracts",
              "filled_amount",
              "average_price",
              "advanced",
              "implv",
              "usd",
              "triggered",
              "trigger",
              "trigger_price",
              "trigger_offset",
              "trigger_reference_price",
              "block_trade",
              "mmp",
              "risk_reducing",
              "replaced",
              "auto_replaced",
              "quote",
              "mmp_group",
              "quote_set_id",
              "quote_id",
              "trigger_order_id",
              "combo_order_id",
              "starbase_order_id",
              "app_name",
              "mmp_cancelled",
              "cancel_reason",
              "oto_order_ids",
              "trigger_fill_condition",
              "oco_ref",
              "primary_order_id",
              "is_secondary_oto",
              "is_primary_otoco",
              "trade_id",
              "trade_seq",
              "timestamp",
              "starbase_timestamp",
              "matching_id",
              "tick_direction",
              "index_price",
              "iv",
              "underlying_price",
              "liquidation",
              "liquidity",
              "fee",
              "fee_currency",
              "state",
              "block_trade_id",
              "block_trade_leg_count",
              "block_rfq_id",
              "block_rfq_quote_id",
              "profit_loss",
              "mark_price",
              "legs",
              "combo_id",
              "combo_trade_id",
              "starbase_match_id",
              "trade_allocations",
              "user_id",
              "client_info",
              "client_id",
              "client_link_id",
              "name"
            ],
            "og:title": "private/close_position",
            "title": "private/close_position"
          }
        }
      }
    },
    "/private/create_combo": {
      "get": {
        "description": "Verifies and creates a combo book or returns an existing combo matching the given trades. Combos allow trading on multiple instruments (futures and options) simultaneously as a single strategy.\n\nIf a combo matching the provided trades already exists, this method returns the existing combo. Otherwise, it creates a new combo book with the specified leg structure.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fcreate_combo)\n\n",
        "parameters": [
          {
            "name": "trades",
            "in": "query",
            "description": "List of trades used to create a combo",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "properties": {
                  "amount": {
                    "$ref": "#/components/schemas/amount"
                  },
                  "direction": {
                    "$ref": "#/components/schemas/direction"
                  },
                  "instrument_name": {
                    "$ref": "#/components/schemas/instrument_name"
                  }
                },
                "type": "object"
              }
            },
            "explode": true,
            "style": "form"
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 6,
                    "jsonrpc": "2.0",
                    "method": "private/create_combo",
                    "params": {
                      "trades": [
                        {
                          "amount": "1",
                          "direction": "buy",
                          "instrument_name": "BTC-29APR22-37500-C"
                        },
                        {
                          "amount": "1",
                          "direction": "sell",
                          "instrument_name": "BTC-29APR22-37500-P"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateCreateComboResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Combo Books",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/combo-books/private-create_combo",
          "metadata": {
            "keywords": [
              "private/create_combo",
              "trades",
              "instrument_id",
              "state",
              "state_timestamp",
              "creation_timestamp",
              "legs",
              "instrument_name",
              "amount"
            ],
            "og:title": "private/create_combo",
            "title": "private/create_combo"
          }
        }
      }
    },
    "/private/disable_cancel_on_disconnect": {
      "get": {
        "description": "Disable Cancel On Disconnect for the connection.\n\nWhen change is applied for the account, then every newly opened connection will start with **inactive** Cancel on Disconnect.\n\n**WebSocket Only:** This method is designed exclusively for WebSocket connections. Attempting to use it via REST/HTTP will result in an error response.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fdisable_cancel_on_disconnect)\n\n",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "Specifies if Cancel On Disconnect change should be applied/checked for the current connection or the account (default - `connection`)<br/><br/> **NOTICE:** Scope `connection` can be used only when working via Websocket.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "connection",
                "account"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 1569,
                    "jsonrpc": "2.0",
                    "method": "private/disable_cancel_on_disconnect",
                    "params": {
                      "scope": "account"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Session Management",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/session-management/private-disable_cancel_on_disconnect",
          "metadata": {
            "keywords": [
              "private/disable_cancel_on_disconnect",
              "scope"
            ],
            "og:title": "private/disable_cancel_on_disconnect",
            "title": "private/disable_cancel_on_disconnect"
          }
        }
      }
    },
    "/private/edit": {
      "get": {
        "description": "Modifies an existing order by changing its price, amount, and/or other properties such as time-in-force, post-only, reduce-only, trigger conditions, or advanced order type.\n\nThe order is identified by its order ID. Only open orders can be edited. Changes take effect immediately and may result in the order being filled if the new price matches the market.\n\n**Note:** For spot orders routed to Coinbase Exchange, fills come back asynchronously. It is recommended to receive fills from the `user.trades` channel.\n\n**📖 Related Article:** [Order Management Best Practices](https://docs.deribit.com/articles/order-management-best-practices)\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fedit)\n\n",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "description": "The order id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/order_id"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "It represents the requested order size. For perpetual and inverse futures the amount is in USD units. For options and linear futures it is the underlying base currency coin. The `amount` is a mandatory parameter if `contracts` parameter is missing. If both `contracts` and `amount` parameter are passed they must match each other otherwise error is returned.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "contracts",
            "in": "query",
            "description": "It represents the requested order size in contract units and can be passed instead of `amount`. The `contracts` is a mandatory parameter if `amount` parameter is missing. If both `contracts` and `amount` parameter are passed they must match each other otherwise error is returned.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "<p>The order price in base currency.</p> <p>When editing an option order with advanced=usd, the field price should be the option price value in USD.</p> <p>When editing an option order with advanced=implv, the field price should be a value of implied volatility in percentages. For example,  price=100, means implied volatility of 100%</p>",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "post_only",
            "in": "query",
            "description": "<p>If true, the order is considered post-only. If the new price would cause the order to be filled immediately (as taker), the price will be changed to be just below or above the spread (accordingly to the original order type).</p> <p>Only valid in combination with time_in_force=`\"good_til_cancelled\"`</p> <p>For spot trading routed to Coinbase Exchange, the price is never adjusted: `\"post_only\"` must be combined with `\"reject_post_only\"` set to true, and the order is rejected if it would be matched instantly.</p>",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "reduce_only",
            "in": "query",
            "description": "If `true`, the order is considered reduce-only which is intended to only reduce a current position",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "reject_post_only",
            "in": "query",
            "description": "<p>If an order is considered post-only and this field is set to true then the order is put to the order book unmodified or the request is rejected.</p> <p>Only valid in combination with `\"post_only\"` set to true</p> <p>For spot trading routed to Coinbase Exchange, this must be set to true whenever `\"post_only\"` is true; otherwise the request is rejected with `post_only_not_allowed`.</p>",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "advanced",
            "in": "query",
            "description": "Advanced option order type. If you have posted an advanced option order, it is necessary to re-supply this parameter when editing it (Only for options)",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/advanced"
            }
          },
          {
            "name": "trigger_price",
            "in": "query",
            "description": "Trigger price, required for trigger orders only (Stop-loss or Take-profit orders)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "trigger_offset",
            "in": "query",
            "description": "The maximum deviation from the price peak beyond which the order will be triggered",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "mmp",
            "in": "query",
            "description": "Order MMP flag, only for order_type 'limit'",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "valid_until",
            "in": "query",
            "description": "Timestamp, when provided server will start processing request in Matching Engine only before given timestamp, in other cases `timed_out` error will be responded. Remember that the given timestamp should be consistent with the server's time, use <a href='#public-get_time'>/public/time</a> method to obtain current server time.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "display_amount",
            "in": "query",
            "description": "Initial display amount for iceberg order. Has to be at least 100 times minimum amount for instrument and ratio of hidden part vs visible part has to be less than 100 as well.",
            "required": false,
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "isolated",
            "in": "query",
            "description": "If true, routes the edit request to the isolated margin subaccount that owns the order. Must be sent from the main account. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "allocated_margin",
            "in": "query",
            "description": "Optional additional margin amount transferred from the main account to the isolated subaccount when editing an order to increase risk.",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 3725,
                    "jsonrpc": "2.0",
                    "method": "private/edit",
                    "params": {
                      "advanced": "implv",
                      "amount": 4,
                      "order_id": "438994",
                      "price": 222
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateEditResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-edit",
          "metadata": {
            "keywords": [
              "private/edit",
              "order_id",
              "amount",
              "contracts",
              "price",
              "post_only",
              "reduce_only",
              "reject_post_only",
              "advanced",
              "trigger_price",
              "trigger_offset",
              "mmp",
              "valid_until",
              "display_amount",
              "order",
              "trades",
              "order_state",
              "order_type",
              "original_order_type",
              "time_in_force",
              "is_rebalance",
              "is_liquidation",
              "instrument_name",
              "creation_timestamp",
              "last_update_timestamp",
              "starbase_last_update_timestamp",
              "starbase_client_order_id",
              "direction",
              "label",
              "api",
              "web",
              "mobile",
              "refresh_amount",
              "filled_amount",
              "average_price",
              "implv",
              "usd",
              "triggered",
              "trigger",
              "trigger_reference_price",
              "block_trade",
              "risk_reducing",
              "replaced",
              "auto_replaced",
              "quote",
              "mmp_group",
              "quote_set_id",
              "quote_id",
              "trigger_order_id",
              "combo_order_id",
              "starbase_order_id",
              "app_name",
              "mmp_cancelled",
              "cancel_reason",
              "oto_order_ids",
              "trigger_fill_condition",
              "oco_ref",
              "primary_order_id",
              "is_secondary_oto",
              "is_primary_otoco",
              "trade_id",
              "trade_seq",
              "timestamp",
              "starbase_timestamp",
              "matching_id",
              "tick_direction",
              "index_price",
              "iv",
              "underlying_price",
              "liquidation",
              "liquidity",
              "fee",
              "fee_currency",
              "state",
              "block_trade_id",
              "block_trade_leg_count",
              "block_rfq_id",
              "block_rfq_quote_id",
              "profit_loss",
              "mark_price",
              "legs",
              "combo_id",
              "combo_trade_id",
              "starbase_match_id",
              "trade_allocations",
              "user_id",
              "client_info",
              "client_id",
              "client_link_id",
              "name"
            ],
            "og:title": "private/edit",
            "title": "private/edit"
          }
        }
      }
    },
    "/private/edit_by_label": {
      "get": {
        "description": "Modifies an order identified by its label. This method works only when there is exactly one open order with the specified label.\n\nYou can change the order's price, amount, and/or other properties such as time-in-force, post-only, reduce-only, trigger conditions, or advanced order type. Changes take effect immediately.\n\n**Note:** For spot orders routed to Coinbase Exchange, fills come back asynchronously. It is recommended to receive fills from the `user.trades` channel.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fedit_by_label)\n\n",
        "parameters": [
          {
            "name": "label",
            "in": "query",
            "description": "user defined label for the order (maximum 64 characters)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instrument_name",
            "in": "query",
            "description": "Instrument name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/instrument_name"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "description": "It represents the requested order size. For perpetual and inverse futures the amount is in USD units. For options and linear futures it is the underlying base currency coin. The `amount` is a mandatory parameter if `contracts` parameter is missing. If both `contracts` and `amount` parameter are passed they must match each other otherwise error is returned.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "contracts",
            "in": "query",
            "description": "It represents the requested order size in contract units and can be passed instead of `amount`. The `contracts` is a mandatory parameter if `amount` parameter is missing. If both `contracts` and `amount` parameter are passed they must match each other otherwise error is returned.",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "<p>The order price in base currency.</p> <p>When editing an option order with advanced=usd, the field price should be the option price value in USD.</p> <p>When editing an option order with advanced=implv, the field price should be a value of implied volatility in percentages. For example,  price=100, means implied volatility of 100%</p>",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "post_only",
            "in": "query",
            "description": "<p>If true, the order is considered post-only. If the new price would cause the order to be filled immediately (as taker), the price will be changed to be just below or above the spread (accordingly to the original order type).</p> <p>Only valid in combination with time_in_force=`\"good_til_cancelled\"`</p> <p>For spot trading routed to Coinbase Exchange, the price is never adjusted: `\"post_only\"` must be combined with `\"reject_post_only\"` set to true, and the order is rejected if it would be matched instantly.</p>",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "reduce_only",
            "in": "query",
            "description": "If `true`, the order is considered reduce-only which is intended to only reduce a current position",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "reject_post_only",
            "in": "query",
            "description": "<p>If an order is considered post-only and this field is set to true then the order is put to the order book unmodified or the request is rejected.</p> <p>Only valid in combination with `\"post_only\"` set to true</p> <p>For spot trading routed to Coinbase Exchange, this must be set to true whenever `\"post_only\"` is true; otherwise the request is rejected with `post_only_not_allowed`.</p>",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "advanced",
            "in": "query",
            "description": "Advanced option order type. If you have posted an advanced option order, it is necessary to re-supply this parameter when editing it (Only for options)",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/advanced"
            }
          },
          {
            "name": "trigger_price",
            "in": "query",
            "description": "Trigger price, required for trigger orders only (Stop-loss or Take-profit orders)",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "mmp",
            "in": "query",
            "description": "Order MMP flag, only for order_type 'limit'",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "valid_until",
            "in": "query",
            "description": "Timestamp, when provided server will start processing request in Matching Engine only before given timestamp, in other cases `timed_out` error will be responded. Remember that the given timestamp should be consistent with the server's time, use <a href='#public-get_time'>/public/time</a> method to obtain current server time.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "isolated",
            "in": "query",
            "description": "If true, routes the edit by label request to the isolated margin subaccount that owns the order. Must be sent from the main account. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "allocated_margin",
            "in": "query",
            "description": "Optional additional margin amount transferred from the main account to the isolated subaccount when editing an order to increase risk.",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 9,
                    "jsonrpc": "2.0",
                    "method": "private/edit_by_label",
                    "params": {
                      "amount": 150,
                      "instrument_name": "BTC-PERPETUAL",
                      "label": "i_love_deribit",
                      "price": 50111
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateEditResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Trading",
          "Matching Engine",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/trading/private-edit_by_label",
          "metadata": {
            "keywords": [
              "private/edit_by_label",
              "label",
              "instrument_name",
              "amount",
              "contracts",
              "price",
              "post_only",
              "reduce_only",
              "reject_post_only",
              "advanced",
              "trigger_price",
              "mmp",
              "valid_until",
              "order",
              "trades",
              "order_id",
              "order_state",
              "order_type",
              "original_order_type",
              "time_in_force",
              "is_rebalance",
              "is_liquidation",
              "creation_timestamp",
              "last_update_timestamp",
              "starbase_last_update_timestamp",
              "starbase_client_order_id",
              "direction",
              "api",
              "web",
              "mobile",
              "refresh_amount",
              "display_amount",
              "filled_amount",
              "average_price",
              "implv",
              "usd",
              "triggered",
              "trigger",
              "trigger_offset",
              "trigger_reference_price",
              "block_trade",
              "risk_reducing",
              "replaced",
              "auto_replaced",
              "quote",
              "mmp_group",
              "quote_set_id",
              "quote_id",
              "trigger_order_id",
              "combo_order_id",
              "starbase_order_id",
              "app_name",
              "mmp_cancelled",
              "cancel_reason",
              "oto_order_ids",
              "trigger_fill_condition",
              "oco_ref",
              "primary_order_id",
              "is_secondary_oto",
              "is_primary_otoco",
              "trade_id",
              "trade_seq",
              "timestamp",
              "starbase_timestamp",
              "matching_id",
              "tick_direction",
              "index_price",
              "iv",
              "underlying_price",
              "liquidation",
              "liquidity",
              "fee",
              "fee_currency",
              "state",
              "block_trade_id",
              "block_trade_leg_count",
              "block_rfq_id",
              "block_rfq_quote_id",
              "profit_loss",
              "mark_price",
              "legs",
              "combo_id",
              "combo_trade_id",
              "starbase_match_id",
              "trade_allocations",
              "user_id",
              "client_info",
              "client_id",
              "client_link_id",
              "name"
            ],
            "og:title": "private/edit_by_label",
            "title": "private/edit_by_label"
          }
        }
      }
    },
    "/private/enable_cancel_on_disconnect": {
      "get": {
        "description": "Enable Cancel On Disconnect for the connection. After enabling, all orders created via this connection will be automatically cancelled when the connection is closed.\n\nCancel is triggered in the following cases: when the TCP connection is properly terminated, when the connection is closed due to 10 minutes of inactivity, or when a heartbeat detects a disconnection. To reduce the inactivity timeout, consider using [public/set_heartbeat](https://docs.deribit.com/api-reference/session-management/public-set_heartbeat).\n\n**Note:** If the connection is gracefully closed using [private/logout](https://docs.deribit.com/api-reference/authentication/private-logout), cancel-on-disconnect will **not** be triggered.\n\n**Notice:** Cancel-on-Disconnect does not affect orders created by other connections - they will remain active! When change is applied on the `account` scope, then every newly opened connection will start with **active** Cancel on Disconnect.\n\n**WebSocket Only:** This method is designed exclusively for WebSocket connections. Attempting to use it via REST/HTTP will result in an error response.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fenable_cancel_on_disconnect)\n\n",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "Specifies if Cancel On Disconnect change should be applied/checked for the current connection or the account (default - `connection`)<br/><br/> **NOTICE:** Scope `connection` can be used only when working via Websocket.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "connection",
                "account"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 7859,
                    "jsonrpc": "2.0",
                    "method": "private/enable_cancel_on_disconnect",
                    "params": {
                      "scope": "account"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "trade"
            ]
          },
          {
            "OAuth2": [
              "wallet:buys:create"
            ]
          }
        ],
        "tags": [
          "Session Management",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/session-management/private-enable_cancel_on_disconnect",
          "metadata": {
            "keywords": [
              "private/enable_cancel_on_disconnect",
              "scope"
            ],
            "og:title": "private/enable_cancel_on_disconnect",
            "title": "private/enable_cancel_on_disconnect"
          }
        }
      }
    },
    "/private/get_access_log": {
      "get": {
        "description": "Retrieves a log of API access attempts and authentication events for the authenticated account. The log includes information such as IP addresses, timestamps, API methods called, and authentication status.\n\nUse this method to monitor account security, review API usage patterns, and identify unauthorized access attempts. Results can be paginated using the `offset` and `count` parameters.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fget_access_log)\n\n",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "The offset for pagination, default - `0`",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of requested items, default - `10`, maximum - `1000`",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 1,
                    "jsonrpc": "2.0",
                    "method": "private/get_access_log",
                    "params": {
                      "count": 3,
                      "offset": 0
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateGetAccessLogResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "view"
            ]
          },
          {
            "OAuth2": [
              "wallet:user:read"
            ]
          }
        ],
        "tags": [
          "Account Management",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/account-management/private-get_access_log",
          "metadata": {
            "keywords": [
              "private/get_access_log",
              "offset",
              "count",
              "ip",
              "timestamp",
              "country",
              "city",
              "log",
              "data"
            ],
            "og:title": "private/get_access_log",
            "title": "private/get_access_log"
          }
        }
      }
    },
    "/private/get_account_summaries": {
      "get": {
        "description": "Retrieves a per-currency list of account summaries for the authenticated user. Each summary includes balance, equity, available funds, and margin information for each currency.\n\nTo retrieve summaries for a specific subaccount, use the `subaccount_id` parameter. When the `extended` parameter is set to `true`, additional account details such as account ID, username, email, and account type are included.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fget_account_summaries)\n\n\n\nNote: This method does not accept a singular `currency` parameter; summaries for all portfolio currencies are always returned for both main and isolated subaccounts.",
        "parameters": [
          {
            "name": "subaccount_id",
            "in": "query",
            "description": "The user id for the subaccount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "extended",
            "in": "query",
            "description": "Include additional fields",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "include_isolated",
            "in": "query",
            "description": "If true, includes `isolated_account_summaries` in the response containing account summaries for active isolated margin subaccounts. Default - `false`",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 2515,
                    "jsonrpc": "2.0",
                    "method": "private/get_account_summaries",
                    "params": {
                      "extended": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PrivateAccountSummariesResponse"
          }
        },
        "security": [
          {
            "ApiKey": [
              "view"
            ]
          },
          {
            "OAuth2": [
              "wallet:accounts:read"
            ]
          }
        ],
        "tags": [
          "Account Management",
          "Private"
        ],
        "x-mint": {
          "href": "/api-reference/account-management/private-get_account_summaries",
          "metadata": {
            "keywords": [
              "private/get_account_summaries",
              "subaccount_id",
              "extended",
              "system_name",
              "username",
              "type",
              "login_enabled",
              "email",
              "security_keys_enabled",
              "mmp_enabled",
              "interuser_transfers_enabled",
              "referrer_id",
              "creation_timestamp",
              "self_trading_reject_mode",
              "self_trading_extended_to_subaccounts",
              "block_rfq_self_match_prevention",
              "affiliate_promotion_fee",
              "trading_products_details",
              "receive_notifications",
              "summaries",
              "total_pl",
              "session_rpl",
              "session_upl",
              "available_funds",
              "available_withdrawal_funds",
              "margin_balance",
              "balance",
              "spot_reserve",
              "locked_balance",
              "additional_reserve",
              "fee_balance",
              "fee_group",
              "currency",
              "delta_total",
              "projected_delta_total",
              "delta_total_map",
              "deposit_address",
              "equity",
              "futures_pl",
              "futures_session_rpl",
              "futures_session_upl",
              "initial_margin",
              "maintenance_margin",
              "options_delta",
              "options_gamma",
              "options_pl",
              "options_session_rpl",
              "options_session_upl",
              "options_theta",
              "options_value",
              "options_vega",
              "options_gamma_map",
              "options_theta_map",
              "options_vega_map",
              "projected_initial_margin",
              "projected_maintenance_margin",
              "close_out_margin",
              "projected_close_out_margin",
              "portfolio_margining_enabled",
              "cross_collateral_enabled",
              "margin_model",
              "total_equity_usd",
              "total_initial_margin_usd",
              "total_maintenance_margin_usd",
              "total_margin_balance_usd",
              "total_delta_total_usd",
              "limits",
              "has_non_block_chain_equity",
              "fees"
            ],
            "og:title": "private/get_account_summaries",
            "title": "private/get_account_summaries"
          }
        }
      }
    },
    "/private/get_account_summary": {
      "get": {
        "description": "Retrieves the account summary for a specific currency. The summary includes cash `balance`, `equity`, `margin_balance`, `available_funds`, `available_withdrawal_funds`, initial/maintenance margin, session and total PnL, options greeks, and related fields.\n\nKey relationships (standard margin): `equity = balance + futures session PnL + options_value`, `margin_balance = equity - options_value`, `available_funds = max(0, margin_balance - initial_margin)`. Under portfolio margin, `margin_balance` equals `equity`. Session PnL fields reset at daily settlement; `total_pl` does not.\n\nTo retrieve the summary for a specific subaccount, use the `subaccount_id` parameter. When the `extended` parameter is set to `true`, additional account details such as account ID, username, email, and account type are included.\n\n[Try in API console](https://test.deribit.com/api_console?method=%2Fprivate%2Fget_account_summary)\n\n",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "The currency symbol",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/wallet_currency"
            }
          },
          {
            "name": "subaccount_id",
            "in": "query",
            "description": "The user id for the subaccount",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "extended",
            "in": "query",
            "description": "Include additional fields",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          }
        ],
        "requestBody": {
          "description": "JSON-RPC request body",
          "content": {
            "application/json": {
              "examples": {
                "request": {
                  "description": "JSON-RPC Request Example",
                  "value": {
                    "id": 2515,
                    "jsonrpc": "2.0",
[...]
